main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
button {
    width: 25%;
    height: 5vh;
}



.hidden {
    display: none;
}
.hidden--active {
    display: block;
}

